#subtitle{
    position: relative;
    top: -20px;
    font-family: sans-serif;
    color: #e6e6e6;
    opacity: 60%;

}
#title{
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    
}
#header{
    background-color: #028498;
}
.screen{
    display: none;
    margin-top: 10px;
}
.menu-item-btn{
    background-color: transparent;
    border: none;
    width: 100px;
    height: 50px;
    color: white;
    cursor: pointer;
    /* border-left: 0.3px solid gre; */
}
#menu{
    background-color:#006E7F ;
    justify-content: space-around;
    
}
.centered-div{
    display: flex !important;
    justify-content: center !important ;
}
.col{
    align-items: center;
    flex-direction: column;
}
.btn{
    background-color: transparent;
    border: none;
    min-width: 100px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    
}
.date-txt{
    position: relative;
    left: -53px;
}
.yellow-bg{
    background-color: #F8CB2E;

}
.submit-pos{
    position: relative;
    left: -60px;
    top: 30px;
}
.yellow-bg:hover{
    background-color: #fbd64c;
}
.orange-bg{
    background-color: #EE5007;
}
.orange-bg:hover{
    background-color: #ee6222;
}
.blue-bg-btn{
    background-color: #028498;
    width: 150px !important;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: -10px;
}
span{
    margin-top: 10px;
   
}
.pre-input{
    font-family: sans-serif;
    margin-right: 5PX;
}
#key-define-div{
    display: flex;
    flex-direction: column;
}
#left-right-div{
    display: flex;
}
.updown{
    position: relative;
    left: 80px;
}
.def-txt{
    font-family: sans-serif;

    color: white;
    background-color: #0b4a54;
    width: 190px;
    height: 25px;

    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 25px;
}
.move-right-a-bit{
    position: relative;
    left: 70px;
}
.margin-buttom-10{
    margin-bottom: 10px;
}
#def-inputs{
    margin-left: 50px;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-family: sans-serif;
    
}
.input-div{
    margin-bottom: 10px ;
    display: flex;
    justify-content:space-evenly;
}
.coupled-input{
    position: relative;
    top:5px;
    margin-left: 5px;
}
.def-food{
    width: 300px !important;
}
#start-game{
    width: 200px;

    position: relative;
    top: 100px;
    left: -105px;
}
#status-div{
    height: 400px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px  rgb(236, 236, 236);;
}